{% extends "base.html" %}
{% block content %}
<h1>Products</h1>

<form method="get">
    <input name="search" value="{{ search }}" placeholder="Search product">
    <button>Search</button>
</form>

{% if user.is_staff %}
<a href="/products/add/">+ Add Product</a>
{% endif %}

<table>
<tr><th>Name</th><th>Qty</th><th>Price</th>{% if user.is_staff %}<th>Action</th>{% endif %}</tr>
{% for p in page_obj %}
<tr>
<td>{{ p.name }}</td>
<td>{{ p.quantity }}</td>
<td>{{ p.price }}</td>
{% if user.is_staff %}
<td>
<a href="/products/edit/{{ p.id }}/">Edit</a>
<a href="/products/delete/{{ p.id }}/"
   onclick="return confirm('Are you sure you want to delete this product?');">
   Delete
</a>

</td>
{% endif %}
</tr>
{% endfor %}
</table>

<div>
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">Previous</a>
{% endif %}

Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}&search={{ search }}">Next</a>
{% endif %}
</div>
{% endblock %}
